<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: whitesmoke;
            margin: 0;
            box-sizing: 20px;
        }
        
        center {
            text-align: center;
            margin-top: 50px;
        }
        
        h1 {
            color: #333;
        }
        
        form {
            margin-top: 20px;
            color: aquamarine;
        }
        
        input {
            margin-bottom: 10px;
            padding: 8px;
            background-color: azure;
        }
        
        a {
            color: #4285f4;
            text-decoration: none;
            display: block;
            margin-top: 10px;
        } </style>

</head>
<body>
    <center>
    <h2>SIGN UP</h2>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="username" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit">
    </form>
    
  </center>
    <>
</body>
</html>